.container {
  background-color: #e6eaee;
}

.img {
  height: 350px;
  width: 45%;
  left: 27px;
  top: 23px;
  border-radius: 8px;
  margin-top: 27px;
  margin-left: 23px;
  margin-bottom: 23px;
}

.bg-cont {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 300px;
  margin-left: 27px;
  margin-top: 50px;
  width: 45%;
}

.header {
  color: #1A1A1A;
  font-weight: 500;
  text-align: start;
  font-size: 25px;
  margin: 0px;
}
p {
  color: #1A1A1A;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  margin-top: 20px;
}
