.offering-card-con{
    margin: 10px;
    margin-left: 0px;
}

.offering-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: darkgray;
    border: lightgray solid 2px;
    border-radius: 8px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 40px;
    margin: 0px;
}

.offer-img{
    width: 95%;
    height: 220px;
    border-radius: 8px;
    margin: 0px;
}

.offer-card-header{
    margin: 0;
    font-size: 20px;
}

.offer-card-paragraph{
    margin: 0px;
    font-size: 14px;
}